body{
    background-image: url("../images/thisisfine.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
    text-align: center;
    color: aliceblue;
}

h2{
    text-align: center;
    color: lightgreen;
}